.wrapper{
  width:100%;
  min-height: 10vh;
  background-color: #3b2559;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  padding:10px;
  box-sizing: border-box;
}
.sbt-btn{
  background-color: #bf5ea5;
  color:white;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  border:0px;
  width:100px;
  height:30px;
  border-radius: 10px;

}
.sbt-btn.active{
  opacity: 0.8;

}
.sbt-btn.active:hover{
  opacity: 1;
  cursor:pointer;
  transform: scale(1.1)
}

.sbt-btn.disabled{
  opacity:0.6
}
.hello{
  color:white;
  padding:5px;
  p{
    margin:0px;
  }
}
