.wrapper{
    width: 300px;
    min-height: 120px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
}
.title{
    background-color: #6B4A8C;
    color:white;
    font-size: 1.2em;
    text-align: center;
    padding: 5px;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .sbt-btn{
    background-color: #bf5ea5;
    color:white;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    padding:5px;
    border:0px;
    width:100%;
    border-radius: 10px;
    display:block;
    margin:auto;
  
  }
  .sbt-btn.active{
    opacity: 0.8;
  
  }
  .sbt-btn.active:hover{
    opacity: 1;
    cursor:pointer;
    transform: scale(1.1)
  }

  @media screen and (max-width: 325px){
    .wrapper{
        width: 200px;
    }
  }