<div class="wrapper" [id]="id" >
    <div class="title">
        <div>{{title}}</div>
    </div>
    <div class="drag-area" >
        <div
        cdkDropList
        [cdkDropListData]="tasks"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (task of tasks; track task) {
          <!-- <div class="example-box" cdkDrag>{{task}}</div> -->
           <app-task (dragDisabled)="disableDrag = !disableDrag" class="example-box" cdkDrag [cdkDragDisabled]="disableDrag" [task]="task" [tasks]="tasks"></app-task>
        }
      </div>
    </div>
    <button (click)="createTask()" class="sbt-btn active">+</button>
</div>
