<div class="wrapper" [id]="id" >
    <div class="title" [ngClass]="{'user-title': (mode$ | async) === 'user', 'mate-title': (mode$ | async) !== 'user'}">
        <div>{{title}}</div>
    </div>
    <div class="drag-area" >
        <div
        cdkDropList
        [cdkDropListData]="tasks"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (task of tasks; track task) {
          <!-- <div class="example-box" cdkDrag>{{task}}</div> -->
           <app-task *ngIf="task.teamId == selectedTeam" 
           (dragDisabled)="dragDisabled($event)" 
           class="example-box" cdkDrag [cdkDragDisabled]=" (mode$ | async) != 'user'" 
           [task]="task" (taskDeleted)="onTaskDeleted($event)"></app-task>
        }
      </div>
    </div>
    <button *ngIf="(mode$ | async) !== 'mate'" [disabled] = "disableDrag" (click)="createTask()" class="sbt-btn active">+</button>
</div>
