.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.error{
    background-color: #f44336; /* Red for error, you can change this */
}
.note{
    background-color: #bf5ea5;
}