<div class="wrapper" (click)="setTeam()">
    <div class="team-name" [ngClass]="{'bold': team?.id == selectedTeam}">
        {{team?.name}}
    </div>
    <div class="team-desc">
        {{team?.description}}
    </div>
    <div class="team-img">
        <img class="img" *ngIf="team?.name!=='Saved' && team?.adminId === authService.user?.localId" (click)="delete()" src="bin.png" alt="delete">
        <button class="sbt-btn active" (click)="exit()"
        *ngIf="team?.adminId!== authService.user?.localId">
            Exit
        </button>
    </div>
</div>
