.wrapper{
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 5px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.wrapper:hover{
    background-color: lightgrey;
    cursor:pointer;
}
.team-name{
    font-size: 1.2em;
}
.team-name:hover{
    cursor:pointer;
}
.team-desc{
    font-style: italic;
    color: grey;
}
.team-img{
    display: flex;
    justify-content: end;
}
.team-img img{
    width:20px;
    height:20px;
    margin-left: auto;
    transition: all 0.5s ease;
  }
  .team-img img:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  
.bold{
    font-weight: bolder;
}
.sbt-btn{
    background-color: #bf5ea5;
    color:white;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    border:0px;
    border-radius: 10px;
    padding: 5px;
  }
  .sbt-btn.active{
    opacity: 0.8;
  
  }
  .sbt-btn.active:hover{
    opacity: 1;
    cursor:pointer;
    transform: scale(1.1)
  }
  
  .sbt-btn.disabled{
    opacity:0.6
  }