<div class="wrapper">
    
    <app-side-bar></app-side-bar>
    <app-side-bar-r (visibility)="openAddMember($event)"></app-side-bar-r>
    <app-add-member (visibility)="openAddMember($event)" [visible]="visible"></app-add-member>
    <div cdkDropListGroup class="board-container" >
        <ng-container *ngFor="let board of boards">
            <app-board (arrayChanged)="arrayChanged()"  [id]="board.id" 
            [title]="board.title" [tasks]="board.tasks" [connectedTo]="board.connectedTo" [type]="board.ref">
            </app-board>
        </ng-container>
    </div>

</div>
