<section class="wrapper" [ngClass]="{'open': isOpen}">
    <div class="title"> <span *ngIf="toOpen">Teams</span></div>
    <button class="btn" *ngIf="!isOpen" (click)="open()" >></button>
    <button class="btn" *ngIf="isOpen" (click)="open()" >{{'<'}}</button>
    <ng-container *ngIf="toOpen">
        <button *ngIf="toOpen" class="sbt-btn active" (click)="changeVisibility(true)">+ New Team</button>
        <div class="teams">
            <app-team class="team" (closeSideBar)="open()" 
            *ngFor="let team of teams" [team]="team">
            </app-team>
        </div>
    </ng-container>

</section>
<app-create-team (visibility)="changeVisibility($event)" [visible]="createTeamVisible"></app-create-team>
